In [1]:
# load data 
import pandas as pd
df = pd.read_csv('coffee_sales.csv')

In [3]:
df.head()

,hour_of_day,cash_type,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort,Date,Time
0,10,card,38.7,Latte,Morning,Fri,Mar,5,3,2024-03-01,10:15:50.520000
1,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:19:22.539000
2,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:20:18.089000
3,13,card,28.9,Americano,Afternoon,Fri,Mar,5,3,2024-03-01,13:46:33.006000
4,13,card,38.7,Latte,Afternoon,Fri,Mar,5,3,2024-03-01,13:48:14.626000

In [ ]:
# Aggregate to get number of coffees sold (traffic) by hour, coffee type, and weekday
traffic = df.groupby(["hour_of_day", "coffee_name", "Weekday"]).size().reset_index(name="num_sales")

In [6]:
# Encode categorical columns manually (we’ll do this without sklearn)
# Map weekdays and coffee names to numeric indices
traffic["Weekday_encoded"] = traffic["Weekday"].astype("category").cat.codes
traffic["Coffee_encoded"] = traffic["coffee_name"].astype("category").cat.codes

In [7]:
# Define features (X) and target (y)
X = traffic[["hour_of_day", "Weekday_encoded", "Coffee_encoded"]].values
y = traffic["num_sales"].values

In [9]:
# Split into train/test (manually, 80/20)
split = int(0.8 * len(X))
X_train, X_test = X[:split], X[split:]
y_train, y_test = y[:split], y[split:]

print("✅ Data ready")
print("Train shape:", X_train.shape, "Target shape:", y_train.shape)

✅ Data ready
Train shape: (616, 3) Target shape: (616,)